@use '../../styles/variables.scss' as *;

.circle {
    position: absolute;
    width: 530px;
    height: 530px;
    border: 1px solid $color-border;
    border-radius: 50%;
    margin: 0 auto;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    
  &__dot {
    position: absolute;
    width: 6px;
    height: 6px;
    background: $color-foreground;
    border: 1px solid $color-border-circle;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    color: transparent;

    &:hover {
      width: 56px;
      height: 56px;
      background: $color-background;
      font-size: 20px;
      color: $color-foreground;
    }
  }

  &__dotActive {
    width: 56px;
    height: 56px;
    background: $color-background;
    font-size: 20px;
    color: $color-foreground;
  }
}
