@use '../../styles/variables.scss' as *;
@use '../../styles/breakpoints.scss' as *;

.circle {
    position: absolute;
    width: 530px;
    height: 530px;
    border: 1px solid $color-border;
    border-radius: 50%;
    margin: 0 auto;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;

    @include mobile {
      display: none;
    }
    
  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: 20px;
    pointer-events: none;
  }

  &__dot {
    position: relative;
    width: 6px;
    height: 6px;
    background: $color-foreground;
    border: 1px solid $color-border-circle;
    border-radius: 50%;
    z-index: 9999;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    color: transparent;
    pointer-events: auto;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 30px;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      z-index: -1;
    }

    &:hover {
      width: 56px;
      height: 56px;
      background: $color-background;
      font-size: 20px;
      color: $color-foreground;
    }
  }

  &__dotActive {
    margin-right: 20px;
    width: 56px;
    height: 56px;
    background: $color-background;
    font-size: 20px;
    color: $color-foreground;
  }

  &__category {
    position: absolute;
    top: 12px;
    left: 100%;
    font-size: 20px;
    color: $color-foreground;
    white-space: nowrap;
    font-weight: 700;
    margin: 0;
  }
}

