@use '../../styles/variables.scss' as *;

.controls {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding-left: clamp(20px, 5vw, 78px);
  margin-bottom: 56px;

  &__counter {
    font-size: 14px;
    font-weight: 400;
    color: $color-foreground;
    margin: 0;
    display: flex;
    align-items: center;
  }

  &__wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__button {
    width: 50px;
    height: 50px;
    background: $color-background;
    color: $color-foreground;
    border: 1px solid $color-border-circle;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 7px;
      height: 7px;
      border-top: 2px solid $color-foreground;
      border-right: 2px solid $color-foreground;
      transform-origin: center;
    }

    &:first-child::after {
      transform: translate(-50%, -50%) rotate(-135deg);
    }

    &:last-child::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &__buttonDisabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
} 