@use '../../styles/variables.scss' as *;

.controls {
  padding-left: clamp(20px, 5vw, 78px);
  display: flex;
  position: relative;

  &__content {
    display: flex;
    gap: clamp(8px, 2vw, 20px);
    flex-direction: column;
  }

  &__counter {
    font-size: 14px;
    font-weight: 400;
    color: $color-foreground;
    margin: 0;
    display: flex;
    align-items: center;
  }

  &__wrapper {
    display: flex;
    gap: clamp(8px, 2vw, 20px);
    align-items: center;
  }

  &__button {
    width: clamp(25px, 5vw, 50px);
    height: clamp(25px, 5vw, 50px);
    background: $color-background;
    color: $color-foreground;
    border: 1px solid $color-border-circle;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 7px;
      height: 7px;
      border-top: 2px solid $color-foreground;
      border-right: 2px solid $color-foreground;
      transform-origin: center;

      @include mobile {
        width: 3px;
        height: 3px;
      }
    }

    &:first-child::after {
      transform: translate(-50%, -50%) rotate(-135deg);
    }

    &:last-child::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &__buttonDisabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &__pagination {
    display: none;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);

    @include mobile {
      display: flex;
    }
  }

  &__paginationDot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $color-border-circle;
    cursor: pointer;
    transition: all 0.2s ease;
    border: none;
    padding: 0;


  }

  &__paginationDotActive {
    background: $color-foreground;
  }

  @include mobile {
    order: 2;
  }
} 