@use '../../styles/variables.scss' as *;

$color-accent-blue: hsl(219 84% 58%);

.slider {
  width: 100%;
  position: relative;
  
  &__container {
    width: 100%;
    height: auto;
    padding-left: clamp(20px, 5vw, 78px);
  }

  &__slide {
    max-width: 320px;
  }

.event {
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__year {
      font-size: clamp(18px, 2.5vw, 24px);
      color: $color-accent-blue;
      font-family: "Bebas Neue", sans-serif;
      font-weight: 400;
      line-height: 1;
      margin: 0;
    }

    &__description {
      font-size: clamp(14px, 1.8vw, 20px);
      color: $color-foreground;
      line-height: 1.5;
      font-weight: 400;
    }
  }
  
  :global(.swiper-button-next),
  :global(.swiper-button-prev) {
    color: $color-accent-blue;
    background: #fff; 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px 0 rgba($color-accent-blue, 0.1);
    
    &::after {
      font-size: 12px;
      font-weight: bold;
    }
  }
  
  :global(.swiper-button-next.swiper-button-disabled),
  :global(.swiper-button-prev.swiper-button-disabled) {
    opacity: 0 !important;
  }
  
  
  :global(.swiper-pagination) {
    position: relative;
    margin-top: 20px;
    
    .swiper-pagination-bullet {
      width: 6px;
      height: 6px;
      background: $color-foreground;
      opacity: 0.5;
      transition: all 0.3s ease;
      
      &-active {
        background: $color-foreground;
        opacity: 1;
      }
    }
  }
  
}
